<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	   id="cordova-plugin-geofencing"
      version="1.0.1-dev">
    <name>Geofencing</name>
    <description>Geofencing plugin for cordova service worker</description>
    <license>Apache 2.0</license>
    <keywords>cordova,geofencing</keywords>

    <dependency id="cordova-plugin-service-worker" url="https://github.com/MobileChromeApps/cordova-plugin-service-worker.git" />
    <dependency id="cordova-plugin-geolocation" url="https://github.com/apache/cordova-plugin-geolocation.git" />

    <js-module src="www/GeofenceManager.js" name="GeofenceManager">
	<clobbers target="GeofenceManager" />
    </js-module>
    <js-module src="www/GeofenceRegion.js" name="GeofenceRegion">
	<clobbers target="GeofenceRegion" />
    </js-module>
    <js-module src="www/CircularGeofenceRegion.js" name="CircularGeofenceRegion">
	<clobbers target="CircularGeofenceRegion" />
    </js-module>
    <js-module src="www/Geofence.js" name="Geofence">
	<clobbers target="Geofence" />
    </js-module>
    <js-module src="www/GeofenceOptions.js" name="GeofenceOptions">
	<clobbers target="GeofenceOptions" />
    </js-module>
    <js-module src="www/GeofenceQueryOptions.js" name="GeofenceQueryOptions">
	<clobbers target="GeofenceQueryOptions" />
    </js-module>
    <js-module src="www/GeolocationPoint.js" name="GeolocationPoint">
	<clobbers target="GeolocationPoint" />
    </js-module>

    <asset src="www/sw_assets/geofenceevents.js" target="sw_assets/geofenceevents.js" />    
    <asset src="www/sw_assets/GeofenceRegionAsset.js" target="sw_assets/GeofenceRegionAsset.js" />
    <asset src="www/sw_assets/GeofenceAsset.js" target="sw_assets/GeofenceAsset.js" />

    <platform name="ios">
	<config-file target="config.xml" parent="/*">
	    <feature name="Geofencing">
		<param name="ios-package" value="CDVGeofencing" />
	    </feature>
	</config-file>
	<!-- The following should write into the info.plist and enable Location -->
	<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
	    <string></string>
	</config-file>
	<config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
	    <string></string>
	</config-file>
	<source-file src="src/ios/CDVGeofencing.m" />
	<framework src="CoreLocation.framework" />
    </platform>
</plugin>
