<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	   id="org.apache.cordova.geofencing"
      version="0.0.1-dev">
    <name>Geofencing</name>
    <description>Geofencing plugin for cordova service worker</description>
    <license>Apache 2.0</license>
    <keywords>cordova,geofencing</keywords>

    <dependency id="org.apache.cordova.serviceworker" url="https://github.com/mwoghiren/cordova-plugin-serviceworker.git" />

    <js-module src="www/GeofenceController.js" name="GeofenceController">
	<clobbers target="GeofenceController" />
    </js-module>
    <js-module src="www/GeofenceRegion.js" name="GeofenceRegion">
	<clobbers target="GeofenceRegion" />
    </js-module>
    <js-module src="www/CircularGeofenceRegion.js" name="CircularGeofenceRegion">
	<clobbers target="CircularGeofenceRegion" />
    </js-module>
    <js-module src="www/GeofenceRegistration.js" name="GeofenceRegistration">
	<clobbers target="GeofenceRegistration" />
    </js-module>
    <js-module src="www/GeofenceRegisterOptions.js" name="GeofenceRegisterOptions">
	<clobbers target="GeofenceRegisterOptions" />
    </js-module>
    <js-module src="www/GeofenceRegistrationQueryOptions.js" name="GeofenceRegistrationQueryOptions">
	<clobbers target="GeofenceRegistrationQueryOptions" />
    </js-module>

    <asset src="www/sw_assets/geofenceevents.js" target="sw_assets/geofenceevents.js" />    
    <asset src="www/sw_assets/GeofenceRegionAsset.js" target="sw_assets/GeofenceRegionAsset.js" />
    <asset src="www/sw_assets/GeofenceRegistrationAsset.js" target="sw_assets/GeofenceRegistrationAsset.js" />

    <platform name="ios">
	<config-file target="config.xml" parent="/*">
	    <feature name="Geofencing">
		<param name="ios-package" value="CDVGeofencing" />
	    </feature>
	</config-file>
	<!-- The following should write into the info.plist and enable Location -->
	<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
	    <string></string>
	</config-file>
	<config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
	    <string></string>
	</config-file>
	<header-file src="src/ios/CDVGeofencing.h" />
	<source-file src="src/ios/CDVGeofencing.m" />
	<framework src="CoreLocation.framework" />
    </platform>
</plugin>
